@use "./variables.scss";
@use "./grid.scss" as grid;

.hero {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
  margin: 4rem 4rem 6rem;
  position: relative;

  h1 {
    font-size: 2rem;
    margin: 1.3rem 0 0.5rem 0;
    text-align: center;

    @include grid.media-breakpoint-up(tablet-landscape) {
      font-size: 2.5rem;
    }
  }
  &__subtitle {
    color: variables.$blue;
    font-size: 1.5rem;
  }
  &__image {
    max-width: 600px;
    width: 130%;
    margin-bottom: 1.3rem;

    @include grid.media-breakpoint-up(tablet) {
      width: 65%;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
