@use "./variables.scss";

.opening-hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  min-width: 400px;
  margin: 0 auto;

  ul {
    position: relative;
    list-style-type: none;
    margin: 2rem 1rem 1rem;
    padding: 1.5rem;
    border: 2px variables.$blue solid;
  }

  h2 {
    font-size: 1.5rem;
    position: absolute;
    top: -18px;
    left: 10px;
    font-family: map-get(variables.$font-family, chelsea-open);
    color: variables.$blue;
    background: #fff;
    padding: 0 0.8rem;
  }

  li {
    font-size: 1.2rem;
    font-family: map-get(variables.$font-family, felt-tip);
    font-weight: 600;
    text-transform: uppercase;
    margin: 1rem;
  }
}
